.pio
.vscode/
Backend/requirements.txt
/Backend/aquaware/__pycache__
/Backend/water/__pycache__
IoT/Aquaware/secrets.h
/Backend/backend-venv/
/.idea
/Backend/aquaware/__pycache__
App/bundletool-all-1.15.6.jar
App/upload-keystore.jks
/Backend/frontend/node_modules
/Backend/frontend/.idea
/Backend/aquaware/__pycache__
/Backend/frontend/__pycache__
/Backend/frontend/migrations
/Backend/staticfiles
/Backend/static
/Website/docs/.docusaurus
/Backend/aquaware/__pycache__
/Backend/static
/Backend/users/__pycache__
App/android/release-signing.properties
/Backend/environments/__pycache__
App/android/app/upload_certificate.pem
/Backend/environments/__pycache__
Website/.env
Website/index.html
/Backend/order/__pycache__
/Backend/disease/__pycache__
/Backend/disease/__pycache__
/Backend/fish_detection/__pycache__
/Backend/animal_detection/__pycache__
/Backend/.venv
/Backend/__pycache__
/Backend/environments/__pycache__
/Backend/environments/__pycache__
