.pio
.vscode/
Backend/requirements.txt
/Backend/aquaware/__pycache__
/Backend/water/__pycache__
IoT/Aquaware/secrets.h
/Backend/backend-venv/
/.idea
/Backend/aquaware/__pycache__
/Backend/static
/Backend/staticfiles
App/bundletool-all-1.15.6.jar
App/upload-keystore.jks
